/* Header CSS */

#title{
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  padding: 25px;
  margin: 0px 50px 0px 0px;
  text-align: center;
  width: 250px;
  height: 45px;
  display: inline-block
}

#headerlinks{
  font-size: 20px;
  background-color: #ffffff;
  display: inline;
  border-right: 1px solid #bbb;
  padding: 3px;
  margin: auto;
  display: inline-block;
  text-align: right;
}


body{
  background-color: #ffffff;
  width: 960px;
  font-family: Arial, Helvetica, sans-serif;

}




#border{
  background-image: url(circles-light.png);
  border-color: #dddddd;
  border-style: solid;
}



#sidebar{
  background-color: #ffffff;
  width: 270px;
  float: right;
  border: 2px solid gray;
  padding-bottom: 50px;
  margin-left: 20px;
  
}

h2{
  background-color: white;
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
}

.social-media{
    width: 50px;
    margin-left: 25px;
}

div {
  background-color: white;
  border: 2px solid gray;
  overflow: hidden;
}

#bio-image{
  height: 200px;
  float: left;
  margin: auto;
}

p{
  width: 650px;
  align: justify;
  line-height: 2;
  text-indent: 50px;
  overflow: visible;
  margin: 20px 0px 20px 20px;
}

footer{
  background-color: #666666;
  color: white;
  text-align: center;
  width: 960px;
  padding 50px;

}
