/* Header CSS */

header{
  width: 960px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  position: relative;
}

#title{
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0px  20px 20px 20px;
  width: 250px;
  height: 45px;
  border: none;
}

#header-links{
  position: absolute;
	right: 0px;
  bottom: 23px;
  border: none;
}

/* Body CSS */

#sidebar{
  background-color: #ffffff;
  width: 270px;
  float: right;
  margin: 0px 200px 0px 45px;
}

h2, h3 {
  background-color: white;
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
 
}

.social-media{
    width: 50px;
    margin-left: 25px;
}

div {
  background-color: white;
  border: 2px solid gray;
  overflow: hidden;
  position: relative;
  width: fit-content;
} 
  
#bio-image{
  height: 200px;
  float: left;
  margin: 10px;
}

#about-me{
  width: 650px;
  align: justify;
  line-height: 2;
  text-indent: 50px;
  overflow: visible;
  position: relative;
  margin: 0px 0px 0px 140px;
  
}

/* Footer CSS */

footer{
	background-color: #666666;
	text-align: center;
	border-top: 9px solid #4aaaa5;
  color: white;
  font-size: 16px;
  text-emphasis: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  border: none;
}