body{
  background-image: url(circles-light.png);
  background-color: #ffffff;
  width: 960px;
}

h1{
  background-color: #4aaaa5;
  color: white;
}

h2{
  background-color: white;
  color: #4aaaa5;

}

#main-bio{
  background-color: #ffffff;
}

.social-media{
    width: 50px;
    margin-left: 25px;
}

#sidebar{
  background-color: #ffffff;
  border-color: #dddddd;
  border-style: solid;
}

#bio-image{
  width: 100px;
}